<h4>Listado</h4>
<div class="table-responsive">
  <table class="table table-condensed table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Personaje</th>
        <th scope="col" class="text-end">Poder</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <!-- Se pueden extraer información adicional del ngFor -->
      <tr *ngFor="
        let character of characterList;
        let i = index;
        let isFirst = first;
        let isLast = last
        let isEven = even;
        let isOdd = odd;
      "
      [ngClass]="{
        'table-primary': character.selected
      }"

      (click)="selectCharacter(character)"
      >
        <td>{{ character.name }}</td>
        <td class="text-end">{{ character.power.toLocaleString() }}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" (click)="emitDeleteCharacter(i);">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
