<h1>{{ name }} <span class="text-danger small"></span></h1>

<dl>
  <dt>Real name</dt>
  <dd>{{ realname }}</dd>
  <dt>Age</dt>
  <dd>{{ age }}</dd>
  <dt>City</dt>
  <dd>{{ city }}</dd>
  <dt>ToString</dt>
  <dd>{{ ToString() }}</dd>
</dl>

<button type="button" class="btn btn-primary mx-2" (click)="changeNameCase()">
  Cambiar mayúsculas/minúsculas
</button>

<button type="button" class="btn btn-primary mx-2" (click)="capitalizeName()" *ngIf="!isNameCapitalized">
  Capitalizar nombre
</button>

<button type="button" class="btn btn-primary mx-2" (click)="changeAge(60)">
  Cambiar Edad
</button>

<button type="button" class="btn btn-secondary mx-2" (click)="resetForm()">
  RESET
</button>
